/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #e9e9e9;
  display: flex;
  justify-content: center;
}

/* Navbar Wrapper */
.navbarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Main Navbar */
.navbar {
  background-color: #218091;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
}

.logoCircle {
  width: 48px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoIcon {
  font-size: 20px;
  font-weight: 900;
}

/* Nav Links */
.navLinks {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navLinks a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.navLinks a:hover {
  opacity: 0.6;
}

.email {
  background-color: #f2f2f2;
  padding: 10px 22px;
  border-radius: 40px;
  font-size: 16px;
  color: #000;
}

.logoIcon img {
  width: 100px;
  height: 100px;
  background-color: teal;
  border-radius: 20px;   /* for rounded square */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #f2f2f2;
  color: #000;
  padding: 10px 22px;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
}